#container{
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
}

input, button{width: 100%;}

.error{
    border: 1px solid red;
}

.success{
    border: 1px solid green;
}

small{ color: red;}